body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(180deg, #8B0000, #5a0000);
}
.container {
    width: 400px;
    margin: 60px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    width: 95%;
    padding: 12px;
    border: none;
    background: #ff0000c5;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #7e1a1a;
}

.resultado {
    margin-top: 20px;
    padding: 15px;
    background: #f1f1f1;
    border-radius: 10px;
}

.valor {
    font-size: 28px;
    color: green;
    font-weight: bold;
}